@using NewsLetterAppMVC.ViewModels
@model List<SignUpVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-ups</h5>
        </div>
        <div class="card-body">
            @foreach (var signUp in Model)
            {
                <div class="row">
                    <div class="col">
                        @signUp.FirstName
                    </div>
                    <div class="col">
                        @signUp.LastName
                    </div>
                    <div class="col">
                        @signUp.EmailAddress
                    </div>
                </div>
            }
        </div>
    </div>
</div>