@using NewsLetterAppMVC.ViewModels
@model List<SignUpVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow p-0">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-ups</h5>
        </div>
        <div class="card-body">
            @foreach (var signUp in Model)
            {
                using (Html.BeginForm("Unsubscribe", "Admin", FormMethod.Post))
                {
                    <input type="hidden" name="Id" value="@signUp.Id" />
                    <div class="row text-center mb-3">
                        <div class="col-2">
                            @signUp.FirstName
                        </div>
                        <div class="col">
                            @signUp.LastName
                        </div>
                        <div class="col-4">
                            @signUp.EmailAddress
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger btn-block">
                                Unsubscribe
                            </button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>